@model Bootstrap4Demo.Models.ContactViewModel

@{
    // used in the Shared/_Layout.cshtml
    ViewData["contact-active"] = "active";
}

<section id="body" class="container">

    <div class="my-5">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
        </nav>
        <h1>Contact Us</h1>
        <p>This doesn't really work, but it's an example of a form. Easy, man. Relax, man.</p>
    </div>

    <div class="row my-4">
        <form asp-action="Contact" class="col-md-8">
            <div>
                <div class="form-group">
                    <label for="nameInput">Your Name</label>
                    <input id="nameInput" asp-for="Name"
                           type="text"
                           class="form-control"
                           placeholder="e.g. Your Name" />
                </div>
                <div class="form-group">
                    <label for="emailInput">Email</label>
                    <input id="emailInput" asp-for="Email"
                           type="email"
                           class="form-control"
                           placeholder="e.g. Your Email" />
                </div>
                <div class="form-group">
                    <label class="mr-3">Favorite</label><br />
                    <div class="btn-group btn-group-sm" data-toggle="buttons" role="group" aria-label="Favorite Characters">
                        <label class="btn btn-success @(Model.Favorite.Equals("dude") ? "active" : "")">
                            The Dude<input type="radio" asp-for="Favorite" value="dude" />
                        </label>
                        <label class="btn btn-success @(Model.Favorite.Equals("donny") ? "active" : "")">
                            Donny<input type="radio" asp-for="Favorite" value="donny" />
                        </label>
                        <label class="btn btn-success @(Model.Favorite.Equals("maude") ? "active" : "")">
                            Maude<input type="radio" asp-for="Favorite" value="maude" />
                        </label>
                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="btn btn-success dropdown-toggle"
                                    id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Other
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Walter</a>
                                <a class="dropdown-item" href="#">Bunny</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item disabled" href="#">The Big Lebowski</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="reasonInput">Reason</label>
                    <select id="reasonInput" class="form-control" asp-for="Reason">
                        <option>Adoration</option>
                        <option>Ordering a White Russian</option>
                        <option>Complaint</option>
                        <option>I am lost</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="messageInput">Message</label>
                    <textarea id="messageInput" asp-for="Message"
                              cols="40" rows="6"
                              class="form-control"
                              placeholder="e.g. The Message"></textarea>
                </div>
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </form>
    </div>

    <h3>Our fake address</h3>
    <div>
        <address>
            Big Lebowski Fan Page<br />
            123 Main Street<br />
            Rug Ties The Room Together, CA 98765<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@fakelebowskifansite.com">Support@fakelebowskifansite.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@fakelebowskifansite.com">Marketing@fakelebowskifansite.com</a>
        </address>
    </div>
</section>
