<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Big Lebowski</title>
    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/bootstrap-darky.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="page" class="container">
        <nav id="menu" class="navbar navbar-expand-md navbar-dark bg-danger fixed-top">
            <div id="logo" class="navbar-brand">
                <a href='Index.html'><h1 class="h3 text-dark">The Big Lebowski</h1></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-chevron-bottom" title="icon chevron-bottom" aria-hidden="true"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item @(ViewData["index-active"])">
                        <a asp-action="Index" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item @(ViewData["about-active"])">
                        <a asp-action="About" class="nav-link">About</a>
                    </li>
                    <li class="nav-item mr-3 @(ViewData["contact-active"])">
                        <a asp-action="Contact" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item"><a class="btn btn-outline-dark">Login</a></li>
                </ul>
            </div>
        </nav>

        @RenderBody()

        <hr />

        <footer>
            <p>Text placeholders courtesy of <a href="http://www.lebowskiipsum.com/">Lebowski Ipsum</a>.</p>
        </footer>
    </div>

    <script src="~/js/jquery.js"></script>
    @*
        Overview - Tooltips
        https://getbootstrap.com/docs/4.0/components/tooltips/#overview

        Angular 4 Bootstrap dropdown require Popper.js
        https://stackoverflow.com/questions/45680644/angular-4-bootstrap-dropdown-require-popper-js
    *@
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
